<a href="@Url.Action("GioHang","GioHang")" style="color:white;font-weight:bold;text-decoration:none">
    <img src="~/Content/HinhAnh/giỏ hàng.png" height="40" width="40" /> (@ViewBag.TongSoLuong)
</a>