@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;color:red">Đơn đặt hàng của quý khách đã được chúng tôi ghi nhận, Chúng tôi sẽ giao hàng đến quí khách trong thời gian sớm nhất có thể. Chúng tôi chân thành cảm ơn</h2>
<p>
    @Html.ActionLink("TRỞ VỀ TRANG CHỦ","Index","Home")
</p>

