@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-size:35px;color:red">Giới Thiệu, Tư Vấn Khách Hàng</h2>
<html>
<body>
 <div style="font-size:25px;color:black">
     <h4 style="color:darkblue; font-size:25px; padding-left:10px">TRANH TREO TƯỜNG 3D:</h4>
     <ul>   
         <li>Tranh Treo Tường 3D Nổi Đẹp - Hiện Đại - Sang Trọng - Lạ Mắt !</li>
         <li>Mẫu Tranh treo tường phòng khách, tranh treo tường phòng ngủ, tranh phòng bếp, tranh trang trí, tranh treo tường giá rẻ...</li>
         <li>Có nhiều lựa chọn cho bạn: chọn tranh theo tuổi, chọn tranh theo phong thủy, tranh theo sở thích. Ngoài ra còn có những mấu tranh cổ điển, tranh hiện đại, tranh ghỗ ghép treo tường, và đặc biệt là tranh treo tường 3D nổi. Với mẫu tranh treo tường 3D nổi phù hợp với các căn hộ trung cư, nhà biệt thự mang phong cách hiện đại. Tranh treo tường 3D nổi mang lại không gian sang trọng cho vợ chồng trẻ và khác biệt so với bạn bè.
</li>
        <img src="~/Content/AnhGioiThieu/depnhat.jpg" />
     </ul>
     <h4 style="color:darkblue; font-size:25px; padding-left:10px">TRANH PHONG CẢNH:</h4>
        <ul>
            <li>Tranh phong cảnh được hiểu chung là các bức tranh mô tả những nét đẹp của thiên nhiên như: sông, nước, núi non… Tranh phong cảnh chủ yếu tập trung vào vẻ đẹp của thiên nhiên, nếu có sự xuất hiện của con người thì chỉ là một vài nét chấm phá tạo thêm nét yên bình cho cảnh vật.</li>
            <li>Một số đề tài được ưa thích trong tranh phong cảnh là: cảnh đồng quê yên bình với những mảng ruộng, cổng làng, cây rơm… (màu chủ đạo thường là màu vàng hoặc xanh), những cành cây được vẽ tỉ mỉ và ấn tượng bằng rất nhiều nét bút, những ngôi nhà trong nắng chiều (màu chủ đạo là cam hoặc vàng nhạt), cảnh sông nước, bình minh, hoàng hôn…</li>
            <img src="~/Content/AnhGioiThieu/huutinh.jpg" />
        </ul>

 </div>
</body>
</html>
