@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;font-size:35px;color:red">Liên Hệ Chúng Tôi</h2>
<html>
<body>
 <div style="font-size:25px;color:black">
     <h4 style="color: darkblue; font-size:25px; padding-left:10px">Liên Hệ:</h4>
     <ul style="color: black">   
         <li> Hotline: 0379008219 - 0328243532</li>
         <li> Email: Tranhnhienkhanh@gmail.com</li>
         <li> Địa chỉ: 1/36/19 đường Trục, Quận Bình Thạnh, Hồ Chí Minh.</li>
         <li"><a href="https://www.facebook.com/pg/Tranh3DTreotruong/about/?ref=page_internal"> <img src="~/Content/Anh icon/facebook (1).png"/></a></li">
     </ul>

 </div>
</body>
</html>
